.l-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5em;
  padding: 6.5em 1.5em 1.5em 1.5em;
}

.l-shopping-cart {
  min-height: 100vh; 
  padding: 6.5em 1.5em 1.5em 1.5em;
}