.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;
  position: fixed;
  z-index: 99999;
  padding: 0 2em;
  background-color: #2e4261;
  background-image: linear-gradient(26deg, #2e4261 0%, #182534 100%);
  color: $main-light;
}

.c-navbar__logo {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 0.7em;
  text-align: right;
  cursor: pointer;
}

.c-navbar__cart-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
  p {
    margin-right: 1em;
    padding: 0.2em 1em;
    border-right: 2px solid $main-light;
    font-size: 1.2em;
  }
}

