.c-cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 40px;
}

.c-cart__btn--keep-shopping {
  @extend .o-btn-simple--primary;
  grid-column: 1 / 3;
  justify-self: center;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}

.c-cart__total {
  justify-self: start;
  h4 {
    color: lighten($main-dark, 30%);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }

  p {
    @extend .o-price-tag;
  }
}

.c-cart__btn--buy {
  @extend .o-btn-action--buy;
  align-self: end;
  margin-bottom: 5px;
}

@media (min-width: 530px) {
  .c-cart__total,
  .c-cart__btn--buy {
    grid-column: 2 / 3;
  }
}

@media (min-width: 890px) {

}