.o-btn-action {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 0.5em 0;
  width: 100%;
  color: $light-grey;
  border: none;
  box-shadow: 5px 5px 0 0 $dark-grey;
  transition: all 0.15s;

  &:hover {
    box-shadow: 5px 5px 5px 0 transparentize($dark-grey, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: 3px 3px 5px 0 transparentize($dark-grey, 0.2);
  }
}

.o-btn-action--buy {
  @extend .o-btn-action;
  background-color: $green;
  box-shadow: 5px 5px 0 0 $green-dark;

  &:hover {
    background-color: darken($green, 10%);
  }
}