.o-price-tag {
  font-size: 1.5em;
  font-weight: 700;
  color: transparentize($main-dark, 0.2);
  background-color: $yellow;
  padding: 0.5em 1em 0.5em 0.5em;
  position: relative;

  &::after {
    content: '';
    background-color: inherit;
    position: absolute;
    padding: 0.76em;
    top: 0.32em;
    right: -0.76em;
    z-index: -1;
    transform: rotate(45deg);
  }
}