// PROJETC'S COLOR PALLET
$main-dark: rgb(17, 17, 17);
$main-light: rgb(255, 254, 252);

$red: rgb(240, 101, 66);
$blue: rgb(45, 87, 148);
$yellow: rgb(249, 191, 82);

$light-grey: rgb(248, 247, 246);
$medium-grey: rgb(231, 230, 229);
$dark-grey: rgb(65, 65, 65);

// SHADOWS
$light-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
$heavy-shadow: rgba(0, 0, 0, 0.25) 0px 12px 30px, 
               rgb(245, 245, 245) 0px -1px 0px;