// PROJETC'S COLOR PALLET
$main-dark: rgb(27, 27, 27);
$main-light: rgb(255, 253, 249);

$red: rgb(240, 101, 66);
$blue: rgb(45, 86, 148);
$yellow: rgb(248, 231, 28);
$green: rgb(94, 186, 125);
$green-dark: rgb(72, 127, 91);

$light-grey: rgb(248, 247, 246);
$medium-grey: rgb(231, 230, 229);
$dark-grey: rgb(65, 65, 65);

// SHADOWS
$light-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
$heavy-shadow: rgba(0, 0, 0, 0.25) 0px 12px 30px, 
               rgb(245, 245, 245) 0px -1px 0px;